#container {
	-fx-background-color : #29222A;
}

#grades-view {
	-fx-background-color : #29222A;
}
.secondary-button {
	-fx-background-color : transparent;
	-fx-border-style : solid outside;
	-fx-border-color: #9555E8;
	-fx-text-fill : #9555E8;
	-fx-border-radius : 4px;
}

.primary-button {
	-fx-background-color : #9555E8;
	-fx-text-fill : white;
	-fx-border-radius : 4px;
}

#navigation {
	-fx-background-color : #E8E3E8;
	-fx-background-radius : 16px;
}

.grade-info-band {
	-fx-background-color : #E8E3E8;
	-fx-background-radius : 16px;
}

.ponderation-label {
	-fx-background-color : black;
	-fx-background-radius : 4px;
}

.side-nav-element-active {
	-fx-text-fill : white;
	-fx-background-color :  #9555E8;
}
 