#container {
	-fx-background-color : #29222A;
}

#grades-view {
	-fx-background-color : #29222A;
}
.secondary-button {
	-fx-border-style : solid outside;
	-fx-border-color: #9555E8;
	-fx-text-fill : #9555E8;
}

.button {
	-fx-border-radius : 4px;
	-fx-font-family : verdana;
	-fx-font-size: 12px;
	-fx-font-weight : bold;
}

.primary-button {
	-fx-text-fill : white;
}

.primary-button-not-hover {
	-fx-background-color : #9555E8;
}

.primary-button-hover {
	-fx-background-color : #5A18AF;
}

.secondary-button-hover {
	-fx-background-color : #D8C0F6;
}

.secondary-button-not-hover {
	-fx-background-color : transparent;
}

#navigation {
	-fx-background-color : #E8E3E8;
	-fx-background-radius : 16px;
}

.grade-info-band {
	-fx-background-color : #E8E3E8;
	-fx-background-radius : 16px;
}

.ponderation-label {
	-fx-background-color : black;
	-fx-background-radius : 4px;
}

.side-nav-element-active {
	-fx-text-fill : white;
	-fx-background-color :  #9555E8;
}
 