#container {
	-fx-background-color : #29222A;
}

.secondary-button {
	-fx-background-color : transparent;
	-fx-border-radius : 4px;
}

.primary-button {
	-fx-background-color : #9555E8;
	-fx-border-radius : 4px;
}

#navigation {
	-fx-background-color : #E8E3E8;
	-fx-background-radius : 16px;
}